/* Element Selectors */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 900;
}

p {
    color: #8f8f8f
}

/* Headings */
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

.colored-section{background-color: #ff4c68;
    color: #fff;}
 
.white-section{ background-color: #fff;}

/* Need a circle image, use border radius 100% */
.test-img {
    width: 30%;
    margin: 10px;
    border-radius: 100%;
}

/* Title Section */

#title .container-fluid {padding: 3% 15% 7%;color: #fff;
    text-align: left;}

.title-image {
    width: 60%;

    transform: rotate(25deg);
    position: absolute;
    left: 20%;
}


/* NAVIGATION BAR */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;

}

/* Features Section */

.feature-title {
    font-size: 1.5rem;
}

#features {
   
    position: relative;
    z-index: 1;
}

.fas {
    margin-bottom: 2rem;
}

.fas:hover {
    color: #ff4c68;
}

/* BUTTONS */
.download-buttons {
    margin: 5% 3% 5% 0;
}

/* Testimonials */

#testimonials {
    background-color: #ff3e6f;
    margin-top: 100px;
}

.testimonial-text {
    line-height: 1.5;
    font-size: 2.5rem;
}
/* Press Section */
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ff3e6f;
    padding-bottom: 3%;
}


/* Pricing Section */
#pricing {
    padding: 50px;
}

.price-sec-heading {
    line-height: 1.5;
    font-size: 3rem;
}

.pricing-column {
    padding: 3% 3%;
}

.price-text {
    line-height: 1.5;
    font-size: 2.5rem;
}

/* Call to Action/Bottom-Container #cta {} */

/* FOOTER SECTION */

#footer {
    background-color: #fff;
    height: 100px;
}

.ficon {
    margin: 20px 10px;
}

/* MEDIA QUERY SECTION */
@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}